@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
*{
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  background-color: rgba(246, 201, 208, 0.552);
}

main{
  height: 200px;
}

.panel_nav{
  background-color: rgba(171, 145, 149, 0.29);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Contenedor{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  gap: 20px;
}

.ListGroup{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.CardItem{
  background-color: rgba(245, 245, 220, 0.589);
  margin: 10px;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

.Header{
  font-size: 17px;
  margin-bottom: 20px;
}

.CardItem img{
  width: 180px;
  height: auto

}

.Info{
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.Info p{
  font-size: 17px;
}

.Button{
  text-decoration: none;
  background-color: rgba(165, 42, 42, 0.819);
  color: white;
  padding: 5px;
  border-radius: 2px;
  font-size: 15px;
  display: flex;
  justify-content: center;
}

.CardItemDetail{
  background-color: rgba(245, 245, 220, 0.589);
  margin: 30px;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 550px;
}

.Detalle{
  display: flex;
  flex-direction: row;
}

.ItemImgDetail {
  width: 80%;
}

.InfoDetail{
  width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.Controls{
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}


.Categories{
  display: flex;
  align-items: end;
  gap: 30px;
  font-size: 20px;
}

.Categories a{
  text-decoration: none;
}

.DetalleFinal{
  background-color: rgba(126, 160, 173, 0.6);
  display: flex;
  justify-content: space-around;
  margin: 30px;
  padding: 15px;
  border-radius: 10px;
  align-items: center;
}

.header{
  font-weight: bold ;
  font-size: 17px;
}

h3{
  display: flex;
  justify-content: end;
  margin-right: 300px;
  font-size: 22px;
}

.Botons{
  display: flex;
  justify-content: center;
  margin: 40px;
  gap: 20px;
}

h2{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

h1{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.Container{
  background-color: rgb(225, 148, 148) ;
  margin: 40px 350px;
  padding: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  border-radius: 30px;
}

.Form{
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-size: 18px;
}

.Label{
  display: flex;
  justify-content: center;
}
.Footer{
  background-color: rgba(171, 145, 149, 0.556);
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px;

}







